%h1 Underscore and Timers

=text_field_tag "number", nil, :autofocus => true
=button_tag "enter", :id => "enter"
=button_tag "square", :id => "square"
=button_tag "function", :id => "fn"
=button_tag "start", :id => "start"
=button_tag "stop", :id => "stop"
#numbers
  .clear