<p>Would you like to</p>
<form action="/movies/enter" method="get">
  <button>Enter A Movie</button>
</form>
<p>~ OR ~</p>
<form action="/stocks/enter" method="get">
  <button>Enter A Stock</button>
</form>