<form action="/planets" method="post">
  <div>
  <label>Name</label>
  <input type="text" name="planet[name]" autofocus></div>
  <div>
  <label>Image</label>
  <input type="text" name="planet[image]"></div>
  <div>
  <label>Orbit</label>
  <input type="text" name="planet[orbit]"></div>
  <div>
  <label>Mass</label>
  <input type="text" name="planet[mass]"></div>
  <div>
  <label>Diameter</label>
  <input type="text" name="planet[diameter]"></div>
  <div>
  <label>Moons</label>
  <input type="text" name="planet[moons]"></div>
  <button>Enter</button>
</form>