@import url(http://fonts.googleapis.com/css?family=Ewert);

.number_box {
  color: white;
  font-size: 40px;
  float: left;
  margin: 5px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid black;
  font-family: 'Ewert', cursive;
}

h1 {
    font-family: 'Ewert', cursive;
}

.clear {
  clear: both;
}